snippet todo "&todo"
\todo{}
endsnippet

snippet cit "&cite"
~\cite{}
endsnippet

snippet cita "&citeA"
\citeA{}
endsnippet

snippet comm "&comment"
% +
endsnippet

snippet hl "&highlight"
\hl{}
endsnippet
