snippet todo "→ todo"
\todo{$1}
endsnippet

snippet cit "→ cite"
~\cite{$1}
endsnippet

snippet cita "→ citeA"
\citeA{$1}
endsnippet

snippet comm "→ comment"
% +
endsnippet

snippet hl "→ highlight"
\hl{$1}
endsnippet
