snippet link "+ linked text"
[${1:text}](${2:link})
endsnippet

snippet b "+ bold"
__${1:bold-text}__
endsnippet

snippet i "+ italize"
*${1:italized-text}*
endsnippet

snippet snip "+ code snippet"
* ${1:code-snippet-title}
\`\`\`${2:syntax}
${3:code-snippet}
\`\`\`
endsnippet

snippet comm " + comment"
[]: # '${1:comment}'
endsnippet

snippet block " + comment"
<!---
${1:comment}'
-->
endsnippet
