snippet todo "add todo" w
% todo: $1
% date: `!v strftime("%Y-%m-%d %H:%M")`
endsnippet

snippet ref "add ref" w
% see:
% <$1>
% date: `!v strftime("%Y-%m-%d %H:%M")`
endsnippet

snippet comm "add comment" w
% see:
% <$1>
% date: `!v strftime("%Y-%m-%d %H:%M")`
endsnippet
