snippet todo "→ todo" i
\todo{$1}
endsnippet

snippet cit "→ cite" i
~\cite{$1}
endsnippet

snippet cita "→ citeA" i
\citeA{$1}
endsnippet

snippet comm "→ comment" i
% +
endsnippet

snippet hl "→ highlight" i
\hl{$1}
endsnippet

snippet fig "→ figure" i
Fig.~\ref{fig:$1}
endsnippet

snippet eq "→ equation" i
Eq.~\eqref{eq:$1}
endsnippet
