snippet todo "+ todo" w
" todo: $1
" date: `!v strftime("%Y-%m-%d %H:%M")`
endsnippet

snippet ref "+ ref" w
" ${1:name of function} ref:
" <${2:web ref}>
" accessed: `!v strftime("%Y-%m-%d %H:%M")`
endsnippet

snippet func "+ function" w
function! ${1:func}()
    ${2:body}
endfunction
endsnippet
