snippet bang "#!/usr/bin/env zsh" b
#!/usr/bin/env zsh
$0
endsnippet

snippet todo "+ todo" w
# todo: $1
# date: `!v strftime("%Y-%m-%d %H:%M")`
endsnippet

snippet ref "+ ref" w
# see:
# <$1>
# accessed: `!v strftime("%Y-%m-%d %H:%M")`
endsnippet

snippet func "+ function"
function ${1:name}() {
    ${2:body}
}
endsnippet
